
body {
  background-color: #1fb8b8;
}

.searchLabel{
  font-weight: bold;
}

#introText{
  color: #d22110;
  font-weight: bold;
}

h4{
  text-align: center;
  font-weight: bold;
  color: #000;
}

#rolldown {
  display: none;
}

.placeLi {
  list-style: none;
  background-color: #e8ebe1;
  color: #000;
  font-weight: bold;
}

#mapBox{
  height: 407px;
}

.infoWindowHeader {
   font-size: 22px;
   font-weight: 400;
   padding: 10px;
   background-color: #1fb8b8;
   color: black;
   margin: 1px;
   border-radius: 2px 2px 0 0;
}

#infoWindowContainer {
   font-size: 16px;
   font-weight: 400;
   padding: 0;
   background-color: #e8ebe1;
   color: black;
   margin: 0;
   border-radius: 2px 2px 0 0;
   overflow: scroll;
}

#imageRow {
  height: 100px;
  margin: 1px;
}

#restPic {
  width: 100px;
  padding-left: 0;
  padding-right: 2px;
}

#snippetPic {
  width: 100px;
  padding-left: 0;
  padding-right: 2px;
}



#listBox{
  background-color: #d22110;
}

.non-floating{

}

.listRow{
  text-align: left;
  height: 37px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  padding-left: 2px;
}

#list{
  padding-left: 5px;
}

.gm-style-iw {
overflow: scroll;
}

.gm-style {
  overflow: hidden;
}
